html {
    background-color: rgba(80, 30, 80, 0.7);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid black;
    text-align: center;
    /*background-color: rgba(80, 120, 190, 0.8);*/
    background-color: #6B5B95
}

header > h1 {
    padding: 0;
}

header > h1 > a {
    display: block;
    padding: 2rem;
}

section{
    display: flex;
    flex-direction: column;
}

main {
    padding: 2em;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    background-color: rgba(250, 250, 250, 0.7);
}

footer {
    border-top: 1px solid black;
    margin-bottom: 10rem;
}