#nav {
    height: 2rem;
    border-bottom: 1px solid black;
    background-color: beige;
}

#nav ul {
    margin: 0;
}

#nav > ul {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

#nav ul li {
    list-style: none;
    margin: 0;
    width: 8rem;
}

#nav > ul > li {
    border-right: 1px solid black;
}

#nav > ul > li:first-child {
    border-left: 1px solid black;
}

#nav a {
    display: block;
    line-height: 2rem;
}

#nav a:hover {
    text-decoration: none;
}

.nav_child_first {
    display: none;
    position: absolute;
    background-color: red;
}

.nav_child_second {
    display: none;
    position: absolute;
    top: 0rem;
    left: 8rem;
    background-color: aqua;
}

#nav_css_list {
    top: 2rem;
}