a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.nav_github {
    font-size: 3rem;
    color: rgb(220, 220, 150);
    padding-top: 1rem;
    padding-left: 3rem;
}

h1 {
    padding: 1rem;
    font-size: 3rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    font-size: 2.2rem;
    
}

h3 {
    padding: 0.8rem;
    text-align: center;
    font-size: 1.6rem;
    border: 1px solid black;
    background-color: rgba(80, 30, 80, 0.2);
}

h4 {
    padding: 0.6rem;
    font-size: 1.2rem;
}



article {
    border: 1px solid black;
    padding: 2.5rem;
    margin-bottom: 3rem;
    background-color: rgb(230, 230, 230);
}


pre, code {
    font-family: monospace;
}

pre {
    border: 2px solid blueviolet;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    background-color: beige;
    line-height: 1.3;
}

.iframe_html_example {
    width: 100%;
    background-color: white;
    border-style: none;
    border: 1px solid black;
}


ul, ol {
    margin-bottom: 1rem;
}

li {
    margin-left: 1rem;
}

li  li {
    margin-left: 1rem;
}




dl {
    padding-bottom: 1rem;
}

dl dd>h5 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

dt {
    font-size: 1.1rem;
    color: tomato;
    margin-bottom: 0.2rem;
    padding-top: 1rem;
}

dt:first-child {
    padding-top: 0.5rem;
}

dd {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

dl dl {
    margin: 0;
}

dl dl dt {
    color: orange;
}


p {
    padding-bottom: 0.2rem;
}


hr {
    margin: 1rem;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px 20px;
}

